            <div class="row wrapper border-bottom white-bg page-heading">
               <div class="col-lg-10">
                  <h2>Profile</h2>
                  <ol class="breadcrumb">
                     <li>
                        <a href="index.html">Customers</a>
                     </li>
                     <li class="active">
                        <strong>Profile</strong>
                     </li>
                  </ol>
               </div>
               <div class="col-lg-2">
               </div>
            </div>

              <div class="wrapper wrapper-content animated fadeInRight">

               <div class="row m-b-lg m-t-lg">
                  <div class="col-md-6">
                     <div class="profile-image">
                        <img src="img/a4.jpg" class="img-circle circle-border m-b-md" alt="profile">
                     </div>
                     <div class="profile-info">
                        <div class="">
                           <div>
                              <h2 class="no-margins">
                                 Alex Smith
                              </h2>
                              <h4>Founder of Groupeq</h4>
                              <small>
                              There are many variations of passages of Lorem Ipsum available, but the majority
                              have suffered alteration in some form Ipsum available.
                              </small>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <table class="table small m-b-xs">
                        <tbody>
                           <tr>
                              <td>
                                 <strong>142</strong> Projects
                              </td>
                              <td>
                                 <strong>22</strong> Followers
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <strong>61</strong> Comments
                              </td>
                              <td>
                                 <strong>54</strong> Articles
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <strong>154</strong> Tags
                              </td>
                              <td>
                                 <strong>32</strong> Friends
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <div class="col-md-3">
                     <small>Sales in last 24h</small>
                     <h2 class="no-margins">206 480</h2>
                     <div id="sparkline1"></div>
                  </div>
               </div>

               <div class="row">
                  <div class="col-lg-2">
                     <div class="ibox float-e-margins">
                        <div class="ibox-title">
                           <span class="label label-success pull-right">Monthly</span>
                           <h5>Revenue</h5>
                        </div>
                        <div class="ibox-content">
                           <h1 class="no-margins">$386,200</h1>
                           <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                           <small>Total Revenue</small>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-2">
                     <div class="ibox float-e-margins">
                        <div class="ibox-title">
                           <span class="label label-info pull-right">Annual</span>
                           <h5>Orders</h5>
                        </div>
                        <div class="ibox-content">
                           <h1 class="no-margins">80,800</h1>
                           <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                           <small>New orders</small>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="ibox float-e-margins">
                        <div class="ibox-title">
                           <span class="label label-primary pull-right">Today</span>
                           <h5>RFM Score</h5>
                        </div>
                        <div class="ibox-content">
                           <div class="row">
														 <div class="col-md-2" style="text-align: center;">
															<h1 style="margin-bottom: 0px; font-weight: 800;"> 20 </h1> POINTS
														 </div>
                              <div class="col-md-10">
																<div class="progress" style="height: 40px;">
	                                <div style="width: 60%; line-height: 40px;" class="progress-bar progress-bar-success">
	                                    <span class="show" style="font-size: 18px;">12</span>
	                                </div>
	                                <div style="width: 25%; line-height: 40px;" class="progress-bar progress-bar-warning">
	                                    <span class="show" style="font-size: 18px;">5</span>
	                                </div>
	                                <div style="width: 15%; line-height: 40px;" class="progress-bar">
	                                    <span class="show" style="font-size: 18px;">3</span>
	                                </div>
                            		</div>
																<div class="col-md-12" >
																	<div class="col-md-4" style="padding-left: 0px;">
																		<span style="height: 5px; width: 5px; background-color: #1c84c6;" >&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;Recently
																	</div>
																	<div class="col-md-4" style="padding-left: 0px;">
																		<span style="height: 5px; width: 5px; background-color: #f8ac59;" >&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;Frequently
																	</div>
																	<div class="col-md-4" style="padding-left: 0px;">
																		<span style="height: 5px; width: 5px; background-color: #1ab394;" >&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;Monetery
																	</div>
																</div>
                              </div>

                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="ibox float-e-margins">
                        <div class="ibox-title">
                           <h5>Monthly income</h5>
                           <div class="ibox-tools">
                              <span class="label label-primary">Updated 12.2015</span>
                           </div>
                        </div>
                        <div class="ibox-content no-padding">
                           <div class="flot-chart m-t-lg" style="height: 105px; margin-top: 5px;">
														 <div class="progress chart_progress">
															 <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
																 <span class="show">NCR CUSTOMERS</span>
															 </div>
														 </div>
														 <div class="progress chart_progress">
															 <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
																 <span class="show">HAS FACEBOOK ACCOUNT</span>
															 </div>
														 </div>
														 <div class="progress chart_progress">
															 <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
																 <span class="show">NCR CUSTOMERS</span>
															 </div>
														 </div>
														 <div class="progress chart_progress">
															 <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
																 <span class="show">HAS FACEBOOK ACCOUNT</span>
															 </div>
														 </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-8">
                     <div class="ibox float-e-margins">
                        <div class="ibox-content">
                           <div>
                              <span class="pull-right text-right">
                              <small>Average value of sales in the past month in: <strong>United states</strong></small>
                              <br/>
                              All sales: 162,862
                              </span>
                              <h3 class="font-bold no-margins">
                                 Best Day to connect
                              </h3>
                           </div>
                           <div class="m-t-sm">
                              <div class="row">
                                 <div class="col-md-8">
																	 <div class="col-md-12" >
	                                    <div class="connect-mon connect-bubble">MON</div>
																			<div class="connect-tue connect-bubble">TUE</div>
																			<div class="connect-wed connect-bubble">WED</div>
																			<div class="connect-thu connect-bubble">THU</div>
																		</div>
																		<div class="col-md-12">
																			<div class="connect-fri connect-bubble">FRI</div>
																			<div class="connect-sat connect-bubble">SAT</div>
																			<div class="connect-sun connect-bubble">SUN</div>
																		</div>

                                 </div>
                                 <div class="col-md-4">
                                    <ul class="stat-list m-t-lg">
                                       <li>
                                          <h2 class="no-margins">2,346</h2>
                                          <small>Total orders in period</small>
                                          <div class="progress progress-mini">
                                             <div class="progress-bar" style="width: 48%;"></div>
                                          </div>
                                       </li>
                                       <li>
                                          <h2 class="no-margins ">4,422</h2>
                                          <small>Orders in last month</small>
                                          <div class="progress progress-mini">
                                             <div class="progress-bar" style="width: 60%;"></div>
                                          </div>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="m-t-md">
                              <small class="pull-right">
                              <i class="fa fa-clock-o"> </i>
                              Update on 16.07.2015
                              </small>
                              <small>
                              <strong>Analysis of sales:</strong> The value has been changed over time, and last month reached a level over $50,000.
                              </small>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="ibox float-e-margins">
                        <div class="ibox-title">
                           <span class="label label-warning pull-right">Data has changed</span>
                           <h5>User activity</h5>
                        </div>
                        <div class="ibox-content">
                           <div class="row">
                              <div class="col-xs-4">
                                 <small class="stats-label">Pages / Visit</small>
                                 <h4>236 321.80</h4>
                              </div>
                              <div class="col-xs-4">
                                 <small class="stats-label">% New Visits</small>
                                 <h4>46.11%</h4>
                              </div>
                              <div class="col-xs-4">
                                 <small class="stats-label">Last week</small>
                                 <h4>432.021</h4>
                              </div>
                           </div>
                        </div>
                        <div class="ibox-content">
                           <div class="row">
                              <div class="col-xs-4">
                                 <small class="stats-label">Pages / Visit</small>
                                 <h4>643 321.10</h4>
                              </div>
                              <div class="col-xs-4">
                                 <small class="stats-label">% New Visits</small>
                                 <h4>92.43%</h4>
                              </div>
                              <div class="col-xs-4">
                                 <small class="stats-label">Last week</small>
                                 <h4>564.554</h4>
                              </div>
                           </div>
                        </div>
                        <div class="ibox-content">
                           <div class="row">
                              <div class="col-xs-4">
                                 <small class="stats-label">Pages / Visit</small>
                                 <h4>436 547.20</h4>
                              </div>
                              <div class="col-xs-4">
                                 <small class="stats-label">% New Visits</small>
                                 <h4>150.23%</h4>
                              </div>
                              <div class="col-xs-4">
                                 <small class="stats-label">Last week</small>
                                 <h4>124.990</h4>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
