

<div class="wrapper wrapper-content animated fadeInRight">


                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Bar Chart Example</h5>
                        </div>
                        <div class="ibox-content">
                            <div>
                                <canvas id="barChart" height="140"></canvas>
                            </div>
                        </div>
                    </div>
                </div>


    <div class="row m-b-lg m-t-lg">

            <div class="col-lg-3">
                <div class="ibox">
                            <div class="ibox-content">
                                <h5>% of Company Guests</h5>
                                <h2>2%</h2>
                                <div class="progress progress-mini">
                                    <div style="width: 2%;" class="progress-bar"></div>
                                </div>

                                <div class="m-t-sm small">Group as average of Company Guests</div>
                            </div>
                        </div>
                    </div>

           <div class="col-lg-3">
                <div class="ibox">
                            <div class="ibox-content">
                                <h5>% of Company Spend</h5>
                                <h2>22%</h2>
                                <div class="progress progress-mini">
                                    <div style="width: 22%;" class="progress-bar"></div>
                                </div>

                                <div class="m-t-sm small">Group as average of Company Spend</div>
                            </div>
                        </div>
                    </div>


    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Percentage distribution</h5>
                                <h2>42/20</h2>
                                <div class="text-center">
                                    <div id="sparkline5"></div>
                                </div>
                            </div>
                        </div>
                    </div>

      <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5 class="m-b-md">Server status Q12</h5>
                                <h2 class="text-navy">
                                    <i class="fa fa-play fa-rotate-270"></i> Up
                                </h2>
                                <small>Last down 42 days ago</small>
                            </div>
                        </div>
                    </div>

            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Group Metrics</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-hover no-margins">
                            <thead>
                            <tr>
                                <th>Metric</th>
                                <th>Group Average</th>
                                <th>Company Average</th>
                                <th>Delta</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><small>% All Guests</small></td>
                                <td>2.9%</td>
                                <td>12.9%</td>
                                <td class="text-navy"> <i class="fa fa-level-up"></i> 24% </td>
                            </tr>
                           
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>