
<% include head %>

<body>

    <div class="wrapper">
        
        <% include nav-side %>

        <div id="page-wrapper" class="gray-bg">

             <% include nav-top %>

             <% include content1 %>

            <% include footer %>

        </div>

    </div>

    <% include last %>

</body>
</html>